<div class="modal-header"><h3 data-i18n="change password"></h3></div>
<form role="form" name="chpassword" ng-submit="submit()">
    <div class="modal-body">
            <div class="form-group">
                <label for="oldpassword" data-i18n="old password"></label>
                <input type="password" name="oldpassword" data-ng-model="user.oldpassword" class="form-control" id="oldpassword" ng-trim="true" ng-minlength="6" required>
            </div>
            <div class="form-group">
                <label for="password" data-i18n="new Password"></label>
                <input type="password" name="password" data-ng-model="user.password" class="form-control" id="password" ng-trim="true" ng-minlength="6" required>
            </div>
            <div class="form-group">
                <label for="repassword" data-i18n="re Password"></label>
                <input type="password" name="repassword" data-ng-model="user.repassword" class="form-control" id="repassword" ng-trim="true" ng-minlength="6" required>
            </div>
        <div ng-show="chpassword.$valid==false">
            <alert type="warning" ng-show="chpassword.oldpassword.$error.minlength">旧密码不得小于6位数</alert>
            <alert type="warning" ng-show="chpassword.password.$error.minlength">新密码不得小于6位数</alert>
            <alert type="warning" ng-show="chpassword.repassword.$error.minlength">确认密码不得小于6位数</alert>
        </div>
        <div ng-show="chpassword.$valid">
            <alert type="warning" ng-show="user.password!=user.repassword">确认密码不一致</alert>
        </div>
        <alert type="{{alert.type}}" ng-show="alert.show" data-ng-bind="alert.message"></alert>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-ng-disabled="chpassword.$valid==false || user.password!=user.repassword" data-i18n="confirm"></button>
        <button class="btn btn-warning" ng-click="cancel()" data-i18n="close"></button>
    </div>
</form>
