<div class="table-filters">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <form>
                <input type="text"
                       placeholder="Search..."
                       class="form-control"
                       data-ng-model="searchKeywords"
                       data-ng-keyup="search()">
            </form>
        </div>
        <div class="col-sm-3 col-xs-6 filter-result-info">
            <span>
                Showing {{currentPageStores.length}}/{{currentPageCount}} entries
            </span>
        </div>
        <div class="col-sm-1 pull-right"><button class="btn btn-info" data-ng-model="newstore" edittable="fields" type="table" source="Source">添加</button></div>
    </div>
</div>
<table class="table table-bordered table-striped table-responsive">
    <thead>
    <tr>
        <th data-ng-repeat="key in fields|filter:{show:true}">
            <div class="th">
            {{key.text}}
                <div data-ng-if="key.sort">
                    <span class="fa fa-angle-up"
                          data-ng-click=" order(key.name) "
                          data-ng-class="{active: row == key.name}"></span>
                    <span class="fa fa-angle-down"
                          data-ng-click=" order('-'+key.name) "
                          data-ng-class="{active: row == '-'+key.name}"></span>
                </div>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="store in currentPageStores" ng-init="topindex=$index">
        <td data-ng-repeat="key in fields|filter:{show:true}" ng-switch="key.type">
            <img ng-switch-when="image" ng-src="{{store[key.name]}}"/>
            <span ng-switch-when="boolean">{{store[key.name]?'是':'否'}}</span>
            <span ng-switch-when="icon" class="fa {{store[key.name]}}"></span>
            <span ng-switch-when="edit">
                <button class="btn btn-success btn-sm" data-ng-if="datatable.plus.edit" data-ng-model="store" edittable="fields" type="table" source="Source">编辑</button>
                <button class="btn btn-success btn-sm" data-ng-if="datatable.plus.viewGallery" ng-click="datatable.viewDetail(store)" id="{{store._id}}">查看图集</button>
                <button class="btn btn-danger btn-sm" data-ng-if="datatable.plus.delete" data-ng-model="store" deltable type="confirm" topindex="{{topindex}}" source="Source">删除</button>
            </span>
            <span ng-switch-default>
                <a ng-href="{{store[key.link]}}" ng-if="key.link" ng-bind="store[key.name]"></a>
                <span ng-if="key.link==false" ng-bind="store[key.name]"></span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
<footer class="table-footer">
    <div class="row">
        <div class="col-md-6 page-num-info">
    <span>
        Show
        <select class="ui-select" data-ng-model="numPerPage"
                data-ng-options="num for num in numPerPageOpt"
                data-ng-change="onNumPerPageChange()">
        </select>
        entries per page
    </span>
        </div>
        <div class="col-md-6 text-right pagination-container">
            <pagination class="pagination-sm"
                        ng-model="currentPage"
                        total-items="currentPageCount"
                        max-size="5"
                        ng-change="select(currentPage)"
                        items-per-page="numPerPage"
                        rotate="false"
                        previous-text="&lsaquo;" next-text="&rsaquo;"
                        boundary-links="true"></pagination>
        </div>
    </div>
</footer>
</div>
